body{
    background-color: #efca38
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110px;
    color: rgb(255, 255, 255);
    text-align: center;
    border:100px
}
#rectangulito{
    border-radius: 40px;
    margin: 00px 100px;
    height: 520px;
    width: 1300px;
    background-color: rgb(255, 255, 255);
}
#rectangulito2{
    border-radius: 40px;
    margin: 50px 100px;
    height: 520px;
    width: 900px;
    background-color: rgb(255, 255, 255);
}
#circle img{
    display: flex;
    border-radius: 50%;
    margin: 50px 50px;
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
}
section{
    display: flex;
    gap: 30px;
}
#info{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 1000px;  
    width: 700px;
    margin: 50px 100px;
}
#info2{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 1000px;  
    width: 700px;
    margin: 50px 50px;
}
#titulopro{
    color: #efca38;
    font-size: 60px;
    padding: 0px 0px 0px 0px;
}
#popi, #resultados, #funcionamiento{
    color: #efca38;
    font-size: 60px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#po, #pop, #ppop, #popp{
    padding: 50px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}